<div class="main-menu d-none d-lg-block">
  <nav>
    <ul id="navigation">
      <li>
        <a href="{% url 'home' %}">home</a>
      </li>
      <li>
        <a href="{% url 'jobs' %}">Jobs</a>
      </li>
      <li>
        <a href="{% url 'contact' %}">Contact</a>
      </li>
      {% if user.is_authenticated and user.is_staff %}
      <li>
        <a href="{% url 'admin:index' %}">Admin</a>
      </li>
      {% endif %}
      {% comment %} <li>
        <a href="#">pages <i class="ti-angle-down"></i></a>
        <ul class="submenu">
          <li>
            <a href="{% url 'candidate' %}">Candidates</a>
          </li>
          <li>
            <a href="{% url 'job_single' %}">job details</a>
          </li>
          <li>
            <a href="{% url 'elements' %}">elements</a>
          </li>
        </ul>
      </li> {% endcomment %}
      {% comment %} <li>
        <a href="#">blog <i class="ti-angle-down"></i></a>
        <ul class="submenu">
          <li>
            <a href="{% url 'blog' %}">blog</a>
          </li>
          <li>
            <a href="{% url 'single_blog' %}">single-blog</a>
          </li>
        </ul>
      </li> {% endcomment %}
      {% comment %} <li>
        <a href="{% url 'blog' %}">Blog</a>
      </li> {% endcomment %}
    </ul>
  </nav>
</div>
